*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

main {
    text-align: center;
}

.profile{
    padding: 60px 50px 0px 50px;  
    font-size: .5rem;
}
.profile h1 {
    margin: 20px;
}
.profile-pic {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 20px 80px 30px 80px;  
}

.link {
    padding: 20px;
    margin: 8px;
    background-color: #eaecf0;
    border-radius: 5px;
    color: rgb(16, 19, 16);
    text-align: center;
    text-decoration: none;
    font-size: 12px ;
    font-weight: 600;
}

.link:hover {
    background-color: rgb(170, 163, 163);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 255, .2);
    color: #eaecf0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 50px8 20px 100px;
}

.extras {
    margin: 2px;
}
.extras-logo {
    padding: 15px 1px 60px 1px;
    width: 20px;
    height: 20px;
}
.footer-logo {
    width: 100px;
    height: auto;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: eaecf0;
    color: rgb(16, 19, 16);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    border: 1px #555 solid;
  }
   
  #myBtn:hover {
    background-color: rgb(228, 207, 207);
    /* color: ; */
  }

  @media only screen and (max-width:768px){
    .links {
        display: flex;
        flex-direction: column;
        padding: 20px 3px 20px 3px; 
    }
    .link {
        font-size: 15px;
        margin: 9px;
        padding: 30px;
    }
    
    .extras {
        margin-bottom: 20px;
    }
    footer {
        display: flex;
        flex-direction: column;
    }
    .extras-logo {
        padding: 1px 1px 60px 1px;
        width: 20px;
        height: 20px;
    }
    .profile h1 {
        margin: 20px 20px 0px 20px;
    }
    
    
  }